
\.vs/*

*.user

packages/
/source/.vs
/source/API/CodeRed-NPS-API/bin/Debug/net461
/source/API/CodeRed-NPS-API/obj
/source/Tests/CodeRed-NPS-API-Tests/bin/Debug
/source/Tests/CodeRed-NPS-API-Tests/obj/Debug
/source/Tests/CodeRed-NPS-API-Tests/WebJobs.ContextResolver.Tests.v3.ncrunchproject

source/Tests/CodeRed-NPS-API-Tests/obj/

source/Core/CodeRed-NPS-Core/obj/

source/Core/CodeRed-NPS-Core/bin/

source/API/CodeRed-NPS-API/bin/
